.todo-wrapper{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top: 20px;
  flex-direction: column;
  padding: 10px;
  height: 617px;
  box-shadow: 0 0 4px rgba(0,0,0,0.3);
  /* background-color: rgba(0, 0, 0, 0.3); */
  border-radius: 5px;
  position: relative;
  backdrop-filter: blur(3px);
  background-color: rgba(50, 50, 50, 0.2);
  transition: backdrop-filter 0.5s ease-in;
}

.todo-wrapper:hover {
  /* background-color: rgba(150, 150, 150, 0.2); */
  background-color: rgba(20, 20, 20, 0.2);
  /* backdrop-filter: blur(5px); */
  transition: backdrop-filter 0.5s ease;
}

.todo-wrapper > h2 {
  width: 100%;
  margin-bottom: 10px;
}

.task {
  display: flex;
  color: #4DB6AC;
  justify-content: space-between;
  padding: 10px 5px;
  margin-bottom: 5px;
  width: calc(100% - 20px);
  border-radius: 5px;
}

.animate-enter {
  transform: translateY(10px); 
  opacity: 0;
}
.animate-enter-active {
  opacity: 1;
  transform: translateY(0px); 
  transition: all 300ms ease-in;
}
.animate-exit {
  opacity: 1;
  color: orange;
}
.animate-exit-active {
  opacity: 0;
  transform: translateY(20px);
  transition: all 300ms ease-in;
}

.todo-wrapper .task:hover {
  cursor: pointer;
  background-color: rgba(0 , 0, 0, 0.4);
  border-radius: 5px;
}

.create-task-wrapper{
  /* background-color: yellow; */
  padding: 10px 0;
  width: calc(100% - 20px);
  position: absolute;
  bottom: 0px;
}

.create-task-wrapper input {
  width: calc(100% - 20px);
  line-height: 18px;
  font-size: 14px;
  padding: 10px 10px;
  background-color: rgba(0,0,0,0);
  border: none;
  border-bottom: 3px solid #555;
  color: #00ff99;
  
}

.create-task-wrapper input:focus {
  outline: none;
  border-bottom: 3px solid #00ff99;
  
}

.delete-task{
  color: orangered;
  cursor: pointer;
  width: 20px;
  height: 20px;
  text-align: center;
  line-height: 20px;
  border-radius: 50%;
  visibility: hidden;
  margin: 0 5px;
}

.copy-task {
  padding-left: 5px;
  visibility: hidden;
}

.edit-task {
  padding-left: 10px;
  visibility: hidden;
}

.todo-wrapper .task:hover .delete-task {
  visibility: visible;
}


.todo-wrapper .task:hover .copy-task {
  visibility: visible;
}

.todo-wrapper .task:hover .edit-task {
  visibility: visible;
}

#scrollable {
  overflow: scroll;
  height: 390px;
  padding-bottom: 100px;
}

.task-status-icon {
  /* font-size: 20px; */
  font-family: sans-serif;
  font-weight: bold;
  height: 20px;
  width: 20px;
  border: 1px solid #555;
  text-align: center;
  z-index: 20;
}

.success-icon {
  color: #00ff99;
}

.task-title {
  flex: 1;
  text-align: left;
  padding: 0 10px;
}

.task-title:focus {
  outline: 1px solid #555;
}

.tabs{
  display: flex;
  margin-bottom: 5px;
}

.tabs > div {
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin-right: 5px;
  font-style: italic;
  cursor: pointer;
}

.tabs > div:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.tabs > div:last-child {
  margin-right: 0;
}

.tabs > div.active {
  color: #00ff99;
  box-shadow: 0px 0px 4px #00ff99;
  font-weight: bold;
  font-style: normal;
}

.show-date{
  text-align: center;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.show-date>span {
  background-color: #00d1b277;
  /* background-color:  rgba(200,200,200, 0.7); */
  color: #222;
  padding: 2px 5px;
  border-radius: 5px;
}
