@import '~material-design-icons/iconfont/material-icons.css';
:root {
  /* Base font size */
  font-size: 10px;   
  /* Set neon color */
  --neon-text-color: #f40;
  --neon-border-color: #08f;
}

@font-face {
  font-family: 'neon';
  src: url('./assets/fonts/NEON____.TTF');
}

@font-face {
  font-family: 'automani';
  /* src: url('./assets/fonts/AUTOMANI.TTF'); */
}

@font-face {
  font-family: 'disco';
  /* src: url('./assets/fonts/Disco3.ttf'); */
}


body{
  padding: 0;
  margin: 0;
  font-family: 'Dank Mono';
  background-color: #222;
  /* background: url('./assets/images/giphy.gif'); */
  background-position: center;
  background-size: cover;
  height: 100vh;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  /* font-style: italic; */
}

.container{
  width: 95%;
  margin: 0 auto;
  display: flex;
  color: #fff;
  /* height: 100vh; */
  justify-content: flex-start;
  /* flex-direction: column; */
  flex-wrap: wrap;
  /* color: var(--neon-text-color); */
}

.header{
  padding: 10px 0;
  /* font-family: 'neon'; */
  color: rgb(202, 212, 242);
  text-shadow: 0 0 1vw #08f, 0 2px 3px#08f, 3px 0px 3px#08f;
  width: 100vw;
  display: flex;
  justify-content: flex-start;
}

.header h2 {
  padding-top: 8px;
  font-family: 'neon';
  font-weight: 100;
}

.header i{
  justify-content: flex-start;
  font-family: 'neon';
  color: #00ff99;
  text-shadow: 0 0 1vw #00ff99;
  opacity: 0.9;
  line-height: 25px;
}

.header i>span {
  animation: fluctuate 4s ease-in;
}

.wrapper{
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  justify-content: space-between;
}

.wrapper > div {
  margin-right: 25px;
}

.wrapper > div:last-child {
  margin-right: 0px;
}

.success {
  color: #00ff99;
  border: 1px solid #00ff99;
}

.header .custom-icon {
  /* background-color: rgba(0,0,0,0.4); */
  padding: 1px 10px;
  cursor: pointer;
  /* box-shadow: 0 0 2px #08f; */
  border-radius: 5px;
  transition: all 0.3s ease;
  text-shadow: none;
  box-shadow: -2px -2px 3px 2px rgba(50, 50, 50, 0.7), 
              2px 2px 4px 2px rgba(0,0,0,0.4);
}

.header .custom-icon:hover {
  /* transform: scale(1.05); */
  transition: all 0.3s ease;
}

.custom-icon span {
  vertical-align: middle;
}

.todo-animate-enter {
  opacity: 0;
  transform: translateX(-100px);
}

.todo-animate-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 300ms ease-in;
}

.todo-animate-exit {
  opacity: 1;
  transform: translateX(0px);
}

.todo-animate-exit-active {
  opacity: 0;
  transform: translateX(-100px);
  transition: all 300ms ease-in;
}

.notes-animate-enter {
  opacity: 0;
  transform: translateX(100px);
}

.notes-animate-enter-active {
  opacity: 1;
  transform: translateX(0px);
  transition: all 300ms ease-in;
}

.notes-animate-exit {
  opacity: 1;
  transform: translateX(0px);
}

.notes-animate-exit-active {
  opacity: 0;
  transform: translateX(100px);
  transition: all 300ms ease-in;
}

.settings-animate-enter {
  opacity: 0;
  transform: translateY(100px);
}

.settings-animate-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 300ms ease-in;
}

.settings-animate-exit {
  opacity: 1;
  transform: translateY(0px);
}

.settings-animate-exit-active {
  opacity: 0;
  transform: translateY(100px);
  transition: all 300ms ease-in;
}

.tabs-wrapper {
  display: flex;
  padding: 4px 15px;
}

.tabs-wrapper > .tab {
  margin-left: 10px;
}

.tab.active{
  margin-left: 10px;
  /* background-color: #00ff99; */
  color: #00ff99;
  box-shadow: inset -2px -2px 3px 2px rgba(50, 50, 50, 0.7), 
              inset 2px 2px 4px 2px rgba(0,0,0,0.4);
}

@keyframes fluctuate {
  0%,
	10%,
	15%,
	20%,
	24%, 35%{
    text-shadow: none;
    color: #555;
    opacity: 0.2;

  }
  7%,
	12%,
	16%,
	19%,
	25%,
	100% {
    opacity: 0.9;
		/* text-shadow: 0 0 1vw #F40A35; */
/*     color: #fff; */
  }
}